{
  "htmlWhitespaceSensitivity": "css",
  "semi": true,
  "arrowParens": "always",
  "jsxBracketSameLine": true,
  "jsxSingleQuote": false,
  "endOfLine": "lf",
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true
}
